main {
  display: flex;
}
header {
  text-align: center;
}
form {
  padding: 12px;
  background-color: aliceblue;
}
aside {
  border: 1px;
  margin: 20px;
}

footer {
  text-align: center;
}

input[type="number"] {
  width: 75%;
  padding: 5px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
}
.text-center {
  text-align: center;
}
.form-input {
  max-width: 75%;
  margin: auto;
}

.form-input div {
  margin-bottom: 15px;
}

.form-input label {
  font-weight: bold;
}

.form-input input[type="number"],
.form-input input[type="radio"] + label {
  margin-left: 5px;
}

.form-buttons button {
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  border: 0;
  color: #000;
  border-radius: 12px;
}

.reset {
  background-color: salmon;
}

.submit {
  background-color: turquoise;
}
